:root {
  --font-xl: clamp(3rem, 5vw + 3.5rem, 4rem);
  --font-lg: clamp(2rem, 5vw + 2.5rem, 3rem);
  --font-md: clamp(1rem, 5vw + 1.1rem, 1.8rem);
  --font-sm: clamp(0.8rem, 5vw + 1rem, 1.1rem);
  --font-xs: clamp(0.8rem, 5vw + 0.9rem, 1rem);
  --font-xxs: clamp(0.6rem, 5vw + 0.7rem, 0.8rem);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
