// NewCusomerBrandInsights css
.Slider-flex-container {
    display: flex;
    flex-direction: column;
}

.slider-customer-brands-insights { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem 1rem;
    .next-prev-button-section {
        display: flex;
        align-items: center;
    }
    .slider-section {
        text-align: center;
        .slick-slider {
            position: relative;
            display: inline-grid !important;
            .slick-list {
                padding: 1.5rem 0rem !important;
            }
        }
    }
}